<div class="base">
  <h1>
    <mat-icon>summarize</mat-icon>
    Todo List with Angular
  </h1>

  <app-header></app-header>

  <div class="container">
    <mat-tab-group>
      <mat-tab label="Todos">
        <app-todo-card
          *ngFor="let todo of TodosService.initialState"
          [data]="todo"
          [tab]="'start'"
        ></app-todo-card>
      </mat-tab>
      <mat-tab label="In process">
        <app-todo-card
          *ngFor="let todo of TodosService.initialState"
          [data]="todo"
          [tab]="'progress'"
        ></app-todo-card>
      </mat-tab>
      <mat-tab label="Done">
        <app-todo-card
          *ngFor="let todo of TodosService.initialState"
          [data]="todo"
          [tab]="'done'"
        ></app-todo-card>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
